@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

.titlelogo {
}

.text-focus-in {
    -webkit-animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-focus-in 2.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



.titlelogogradation {
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);//背景色にグラデーションを指定
  -webkit-background-clip: text;//テキストでくり抜く
  -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
  a:visited { color:#ACB6E5; text-decoration:none }
}

.jumbotron-extend {
  padding-top: 20px; 
  position: relative;
  height: 100vh;
  min-height: 100px;
  background-size: cover;
  a:visited { color:white; text-decoration:none }
}


body {

}

.btn {
  background-color:rgba(0,0,0,0);
  margin-right: 60px;
  font-weight: bold;
  border-radius: 5px;
  border-radius: 5px;
  border-radius: 5px;
}

.fluid-box {
  width: 100vw;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  padding: 40px;
}

.fluid-box-inner{
 margin: 0 auto;
 height: 100%;
 padding: 10px;
 background-color: black;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  font-family: 'Sawarabi Mincho';
  h1 {
    margin-bottom: 10px;
  }
}

/* slidshow */

.box {
  max-width  : 100%;
  height     : 100%;
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1  {
  background-size: cover;
  background: url(image.jpeg) no-repeat center center;
  animation-delay  : 2s;
}
.box .src2  {
  background-size: cover;
  background: url(image2.jpeg) no-repeat center center;
  animation-delay  : 4s;
  
}
.box .src3  {
  background-size: cover;
  background: url(image3.jpeg) no-repeat center center;  
  animation-delay  : 6s;
}
.box .src4  {
  background-size: cover;
  background: url(image4.jpeg) no-repeat center center;   
  animation-delay  : 8s;
}



.box .src6  {
  background-size: cover;
  background: url(image6.jpeg) no-repeat center center;
  animation-delay  : 10s;
}

.box .src7  {
  background-size: cover;
  background: url(image7.jpeg) no-repeat center center;
  animation-delay  : 12s;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}

/* --- 前面の文字定義 ----- */
.box .boxString{
  position   : absolute;
  display    : inline-block;
  background-color:rgba(0,0,0,0.1);
  top        : 25%;                              
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
  a:visited { color:white; text-decoration:none }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Sawarabi Mincho';
  
}

h1 {
  font-size: 6em;
  letter-spacing: -2px;
  margin-bottom: 20px;
  text-align: center;
  a:visited { color:white; text-decoration:none }
}

h2 {
  font-size: 1.6em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color:white; 
}

p {
  font-size: 1.1em;
  font-family: 'Sawarabi Mincho';
  line-height: 1.7em;
}


/* header */

.logo {
  float: left;
  padding-bottom: 45px;
  font-size: 50px;
  font-family: 'Sawarabi Mincho';
  a:visited { color:white; text-decoration:none }
  text-transform: uppercase;
  letter-spacing: 11px;
  padding-top: 20px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.logogradation {
  float: left;
  padding-bottom: 45px;
  font-size: 50px;
  font-family: 'Sawarabi Mincho';
  text-transform: uppercase;
  letter-spacing: 11px;
  padding-top: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);//背景色にグラデーションを指定
  -webkit-background-clip: text;//テキストでくり抜く
  -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
  
}

.logo-btn {
  size: 20px;
  padding-top: 20px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  font-family: 'Sawarabi Mincho';
  color: white;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* index */
.index {
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0px;
li {
  overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.button {
  display       : inline-block;
  border-radius : 5%;          
  font-size     : 14pt;       
  text-shadow   :1px 1px 0 #000;
  text-align    : center;     
  cursor        : pointer;   
  padding       : 12px 12px;   
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);    
  color         : #ffffff;     
  line-height   : 1em;       
  transition    : .3s;       
}

.posttitle {
  padding: 100px 50px;
  font-size: 35px;
}

.postcontent {
  padding: 30px 50px;
  font-size: 35px;
}

.postmap {
  padding: 50px 50px;
  font-size: 25px;
}

/* likes */

.glyphicon-heart {
  color: red;
}
.btn-default:hover > .glyphicon-heart-empty {
  color: red;
}
.btn-default {
  position: relative;
  left: 60px;
}

#map {
    height: 400px;
    width: 1000px;
}
